<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Search</title>
</head>
<body>
    <input type="text" id="search_here">
    <div id="box">
        {% for item in object_list %}
        {{item}} <br>
        {% endfor %}
    </div>


    <script>
        const data='{{qs_json}}'
        console.log(data)
        const rdata=JSON.parse(data.replace(/&quot;/g,'"'))
        console.log(rdata)
        let search=document.getElementById("search_here")
        let box=document.getElementById("box")

        let filterArr=[]
        search.addEventListener('keyup',(e)=>{
            box.innerHTML=""
            filterArr=rdata.filter(info => info["name"].includes(e.target.value))
            if(filterArr.length>0)
            {
                filterArr.map(item=>{
                    box.innerHTML+= item['name']+"<br>"
                })
            }
            else{
                box.innerHTML="Aradığın buralarda yok"
            }
        })
    </script>

</body>
</html>